@charset "utf-8";

table {
	border-collapse: collapse;
}

.tr_top {
	background:url('/OurSubway/images/table_mid.gif') repeat-x;
	text-align:center;
}

.td_top {
	background:url('/OurSubway/images/table_left.gif') no-repeat;
	width:3px;
	height:30px;
}

.td_bottom {
	background:url('/OurSubway/images/table_right.gif') no-repeat;
	width:3px;
	height:30px;
}